body { background-image: url('https://media.giphy.com/media/i9Xeu3ONJooI8/giphy.gif');
    background-size: cover;
    
    height: 100vh;
    padding:0;
    margin:0;
}

h1 {
    color:palevioletred;
    
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -30px;
    line-height: -40px;
    text-align: end;
    text-shadow: 10px 2px aqua;
    border: 20px groove rgb(255, 255, 155);
}
h3 {
    color:rgb(156, 245, 140);
    font-family: 'Papyrus', sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 1;
    text-align: left;
    text-shadow: 10px 2px rgb(196, 156, 243);
    border: 10px dashed rgb(246, 164, 205);
}

p {
    color:#a09003;
    text-shadow: 50px 2px rgb(133, 42, 253);
    font-family:'Comic Sans MS', sans-serif;
    font-size: 33px;
    letter-spacing: -1px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    text-align: center;  
    border: 2px dotted olive;           
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
    background-color: rgb(110, 63, 1);
    
}

ul, ol {
    margin: 20px;
    padding: 0;
    color:rgb(255, 238, 1);
    text-align: left;
    font-weight: bolder;
    font-family: 'Papyrus', sans-serif;

}

li {
    font: 200 20px/1.5 bold, Papyrus, sans-serif;
    border-bottom: 1px solid rgb(255, 161, 161);
}
   
li:last-child {
    border: 2px dotted olive;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border: 23px rgb(134, 92, 92) solid;
    padding:11px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}

